<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #F0EBEB;
}

header h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    /* transition: top 1s, opacity 1s; */
    top: 100px;
    opacity: 0;
}

.visible {
    top: 0;
    opacity: 1;
}

.container input, .answer {
    display: inline-block;
    height: 2em;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
}

.container input {
    width: 39%;
    margin-right: 1%;
    border-color: #D4CFCF;
    vertical-align: top;
    outline: none;
    padding: 5px;
}

.answer {
    width: 20%;
    /* border: 2px solid black; */
    text-align: center;
    border-color: black;
    line-height: 1.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.not-right {
    border-color: #F91B1B;
    background-color: #FF5858;
}

.right {
    border-color: #21F708;
    background-color: #4FFE3B
}

.container input:hover {
    border-color: #B5B0B0;
}

.container input:focus {
    border-color: blue;
}

@media screen and (max-width: 500px) {
    * {
        font-size: 20px;
    }

    .container input, .answer {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .container {
        width: 90%;
    }
=======
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #F0EBEB;
}

header h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    /* transition: top 1s, opacity 1s; */
    top: 100px;
    opacity: 0;
}

.visible {
    top: 0;
    opacity: 1;
}

.container input, .answer {
    display: inline-block;
    height: 2em;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
}

.container input {
    width: 39%;
    margin-right: 1%;
    border-color: #D4CFCF;
    vertical-align: top;
    outline: none;
    padding: 5px;
}

.answer {
    width: 20%;
    /* border: 2px solid black; */
    text-align: center;
    border-color: black;
    line-height: 1.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.not-right {
    border-color: #F91B1B;
    background-color: #FF5858;
}

.right {
    border-color: #21F708;
    background-color: #4FFE3B
}

.container input:hover {
    border-color: #B5B0B0;
}

.container input:focus {
    border-color: blue;
}

@media screen and (max-width: 500px) {
    * {
        font-size: 20px;
    }

    .container input, .answer {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .container {
        width: 90%;
    }
>>>>>>> origin/master
}